body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
@import 'style.css';
@import 'style.min.css';
@import 'templete.min.css';
@import './coming-soon.min.css';
@import './custom.css';
@import './homeslider.css';
@import './slider-animations.css';
@import './responsive.css';
@import './plugins.min.css';
@import './templete.min-12-05-20.css';
@import './plugins.css';
@import './star-rating-svg.css';
@import './skin-2.min.css';

